<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nimble Maps</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
</head>
<body>

        <header>
                <nav class="navbar navbar-expand-lg navbar-light ">
                  <a class="navbar-brand" href="index.html"><img src="../static/images/logoc.jpg" height="75px" width="150px"/></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                      <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">CONTACT</a>
                      </li>
                    </ul>
                  </div>
                </nav>
               
              </header>
        
                 <!--Header Section Ends-->
        
                <!-- About SRM -->
                 <section id="nm">
                <div class="container-fluid">
                    <div class=form-heading><b>About Nimble Maps</b></div>
                  <div class="row" >
                    <div class="col-md-3">
                     <img src="../static/images/map.png" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                       <div class="heading">
                        <p>
                            <b >Nimble Maps </b>
                              <br/>- <i>An efficient but easy to understand Map.</i>
        
                              <br/>
                           </p>
                           <p class="content">
        
                            This Project is about making the availabe google maps much more powerful by giving
                            practical solutions to everyday problems which can be accesed by everyone. The project aims
                            to integrate the google maps with the webapp and use machine learning model to solve the 
                            problems and make the model smarter.
                        </p>
                       </div>
                      </div>
                  </div>
                 </div>
                 </section> 
                 
        
        
                  <!-- About Conference -->
        
                <section> 
                  <div class="container-fluid about-con">
                      <div class=form-heading><b>AIM</b></div>
                    <div class="row" >
                      
                      <div class="col-md-9">
                         <div class="heading">
                          <p>
                              <b >Problem Statements</b>
                                
          
                                <br/>
                             </p>
                             <p class="content">
          
                                <b>Potholes and Types:    </b>Provide better Locomotion & Real-Time tracking of road repairs. <br/>
                                <b>Illumination level (Lux):  </b>Public Safety: Women Safety, Nightlife,  Street lights working status.<br/>
                                <b>Noise Level (dB):     </b>RealEstate solutions,enforcing Legal limits on noise-level at night.<br/>
                          </p>
                         </div>
                        </div>
        
                        <div class="col-md-3">
                            <img src="../static/images/ps.png" class="img-fluid" />
                           </div>
                    </div>
                   </div>
                  </section>


                  <!--PS starts-->

                                  <!-- About SRM -->
                 <section>
                    <div class="container-fluid">
                        <div class=form-heading><b>Tracking of Potholes</b></div>
                      <div class="row" >
                        <div class="col-md-3">
                         <img src="../static/images/Picture1.jpg" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                           <div class="heading">
                            <p>
                                <b >Pothole Detection and Mapping </b>
                                  
            
                                  <br/>
                               </p>
                               <p class="content">
            
                                  An API will be responsible for collecting Potholes and illumination data which will
                                   be taken by all the users with coordinate information(extracted by GPS). The validation
                                    of the data will be done and then it will be categorized based on pothole
                                     size. Each of which will be placed in the same GPS map application. The potholes information will 
                                     be taken as a photo evidence with coordinate(latitude & longitude) information both of which will
                                       then be plotted on the map.
                            </p>

                            <a href="pot.html"><button type="button" class="btn btn-outline-dark">Lets visualize on Map</button></a>
                           </div>
                          </div>
                      </div>
                     </div>
                     </section> 
                     
            
            
                      <!-- About Conference -->
            
                    <section> 
                      <div class="container-fluid about-con">
                          <div class=form-heading><b>Illumination</b></div>
                        <div class="row" >
                          
                          <div class="col-md-9">
                             <div class="heading">
                              <p>
                                  <b >Illumination Intensity (Lux)</b>
                                    
              
                                    <br/>
                                 </p>
                                 <p class="content">
              
                                    An API will be responsible for illumination data
                                     which will be taken by all the users with coordinate information
                                     (extracted by GPS), cctv, dashcam, etc. The validation of the data will be done and then
                                      it will be categorized based on illumination level.
                                       Each of which will be placed in the same GPS map application.
                                        For illumination street lights and building lights will be usedwith coordinate (latitude & longitude) information both of which
                                      will then be plotted on the map.
                              </p>
                              <a href="l1.html"><button type="button" class="btn btn-outline-secondary">6pm - 9pm</button></a>
                              <a href="l2.html"><button type="button" class="btn btn-outline-secondary">9pm - 12pm</button></a>
                              <a href="l3.html"><button type="button" class="btn btn-outline-secondary">12pm - 3am</button></a>
                              <a href="l4.html"><button type="button" class="btn btn-outline-secondary">3am - 6am</button></a>
                             </div>
                            </div>
            
                            <div class="col-md-3">
                                <img src="../static/images/Picture2.jpg" class="img-fluid" />
                               </div>
                        </div>
                       </div>
                      </section>

                                        <!-- About SRM -->
                 <section>
                    <div class="container-fluid">
                        <div class=form-heading><b>Noise</b></div>
                      <div class="row" >
                        <div class="col-md-3">
                         <img src="../static/images/Picture3.jpg" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                           <div class="heading">
                            <p>
                                <b >Noise Level Mapping </b>
                                  
            
                                  <br/>
                               </p>
                               <p class="content">
            
                                  Noise data from all over the city will be mapped and color coded.
                                   Then classification will be done based categories with the use 
                                   of Machine Learning algorithms which will produce a color shade
                                    over the map (each shade pertains to a noise level). This will then
                                     be interfaced with any popular GPS map application to be used as 
                                     a feature at users’ requirement.
                            </p>

                            <a href="day.html"><button type="button" class="btn btn-outline-dark">Day</button></a>
                            <a href="night.html"><button type="button" class="btn btn-outline-dark">Night</button></a>
                           </div>
                          </div>
                      </div>
                     </div>
                     </section> 

                  
                 <!--Footer Section Ends-->
        
                       
                        <footer class="my-footer page-footer font-small grey">
        
                            <!-- Copyright -->
                            <div class="footer-copyright text-center py-3">© Copyright:
                              <a href="dhairya.lodha@gmail.com"> dhairya.lodha@gmail.com </a> - All rights reserved.
                            </div>
                            <!-- Copyright -->
                          
                          </footer>
        
        
                 <!--Footer Section Ends-->
    
</body>
</html>