<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nimble Maps</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
</head>
<body>

        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                  <a class="navbar-brand" href="index.html"><img src="images/logo.png" height="75px" width="150px"/></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                      <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link " href="#"  role="button" >
                          ABOUT
                        </a>
                        <div class="dropdown-menu" >
                          <a class="dropdown-item" href="#">COMMITTEE</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="speakers.html">SPEAKER</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="program.html">PROGRAME</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">VENUE</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown ">
                        <a class="nav-link " href="#"  role="button" >
                          ATTENDING
                        </a>
                        <div class="dropdown-menu" >
                          <a class="dropdown-item" href="#">Call for Papers</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Submission & Dates</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="register.php">Registration</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Visa & Letter</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link " href="#"  role="button" >
                          AGENDA
                        </a>
                        <div class="dropdown-menu " >
                          <a class="dropdown-item" href="program.html">Agenda at Glance</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="workshop.html">Workshops</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="city.html">One Day Tour</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="register.php">REGISTER HERE</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">CONTACT</a>
                      </li>
                    </ul>
                  </div>
                </nav>
                <div class="container-fluid ">
                  <div class="row">
                 <img src="images/banner2.jpg " class="banner img-responsive"/> 
                  </div>
                </div>
              </header>
        
                 <!--Header Section Ends-->
        
                <!-- About SRM -->
                 <section>
                <div class="container-fluid">
                    <div class=form-heading><b>About Nimble Maps</b></div>
                  <div class="row" >
                    <div class="col-md-3">
                     <img src="images/srm.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                       <div class="heading">
                        <p>
                            <b >SRM Institute of Science and Technology (formerly known as SRM University) </b>
                              <br/>- <i>where you have the freedom to take wings.</i>
        
                              <br/>
                           </p>
                           <p class="content">
        
                            SRM Institute of Science and Technology (formerly known as SRM University) is one of the top ranking universities in India
                             with over 38,000 students and more than 2600 faculty across all the campus,
                              offering a wide range of undergraduate, postgraduate and doctoral programs in
                               Engineering, Management, Medicine and Health sciences, and Science and Humanities.
                        </p>
                       </div>
                      </div>
                  </div>
                 </div>
                 </section> 
                 
        
        
                  <!-- About Conference -->
        
                <section> 
                  <div class="container-fluid about-con">
                      <div class=form-heading><b>About Conference</b></div>
                    <div class="row" >
                      
                      <div class="col-md-9">
                         <div class="heading">
                          <p>
                              <b >International Conference on Artificial Intelligence(ICOAI 2018)</b>
                                <br/>- <i>where you have the freedom to take wings.</i>
          
                                <br/>
                             </p>
                             <p class="content">
          
                                2018 5th International Conference on Artificial Intelligence(ICOAI 2018)
                                 will be held during in Paris, France during December 21-23, 2018.<br>
        
                                The aim objective of ICOAI 2018 is to provide a platform for 
                                researchers, engineers, academicians as well as industrial professionals
                                 from all over the world to present their research results and development
                                  activities in Artificial Intelligence. This conference provides opportunities
                                   for the delegates to exchange new ideas and application experiences face to face,
                                    to establish business or research relations and to find
                                     global partners for future collaboration.<br>
                                
                                Submitted conference papers will be reviewed by technical committees of the Conference and published in Journals.
                          </p>
                         </div>
                        </div>
        
                        <div class="col-md-3">
                            <img src="images/srm.jpg" class="img-fluid" />
                           </div>
                    </div>
                   </div>
                  </section>

                  
                 <!--Footer Section Ends-->
        
                       
                        <footer class="my-footer page-footer font-small grey">
        
                            <!-- Copyright -->
                            <div class="footer-copyright text-center py-3">© Copyright:
                              <a href="dhairya.lodha@gmail.com"> dhairya.lodha@gmail.com </a> - All rights reserved.
                            </div>
                            <!-- Copyright -->
                          
                          </footer>
        
        
                 <!--Footer Section Ends-->
    
</body>
</html>