<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nimble Maps</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
    

    


</head>
<body>

        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                  <a class="navbar-brand" href="index.html"><img src="../static/images/logoc.jpg" height="50px" width="150px"/></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                      <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">CONTACT</a>
                      </li>
                    </ul>
                  </div>
                </nav>
               
              </header>
        
                 <!--Header Section Ends-->
        
                <!-- About SRM -->
                 <section>
                <div class="container-fluid">
                    <div class="form-heading1"><b>Illumination (3am-6am)</b></div>
                    <div id="map"></div>
    <script>
        function initMap(){

            //map options
            var options= {
                zoom:17,
                center:{lat:12.8231,lng:80.0458}
            }

            //new map
            var map= new
            google.maps.Map(document.getElementById('map'),options);

            // add listen for click on maps
            google.maps.event.addListener(map,'click',
            function(event){
                //add marker
                addMarker({coords:event.latLng});

            });


           



            // //new markers
            // var marker=new google.maps.Marker({
            //     position:{lat:12.8259,lng:80.0395},
            //     map:map,
            //     icon:'srm.jpg'
            // });

            // //info window
            // var infowindow=new google.maps.InfoWindow({
            //     content:'<h1>Potheri</h1>'
            // });

            // marker.addListener('click',function(){
            //     infowindow.open(map,marker);
            // });



            


            //array for markers

            var markers=[
            
            {
                coords:{lat:12.82308,lng:80.041023},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822997,lng:80.041023},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823113,lng:80.041224},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823136,lng:80.041369},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823143,lng:80.041596},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823123,lng:80.041747},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822943,lng:80.042744},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822658,lng:80.04249},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823251,lng:80.042711},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.82347,lng:80.042726},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823721,lng:80.042721},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.824319,lng:80.042423},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.824283,lng:80.042983},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825558,lng:80.041783},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825439,lng:80.048864},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825772,lng:80.042029},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825833,lng:80.04207},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825506,lng:80.0473},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.825652,lng:80.048889},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.824387,lng:80.048478},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.824081,lng:80.049346},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822535,lng:80.048249},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.821769,lng:80.047881},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822517,lng:80.045348},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.820482,lng:80.044135},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.820676,lng:80.044191},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.820425,lng:80.044577},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.821062,lng:80.044248},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822914,lng:80.04483},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.823403,lng:80.044213},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822445,lng:80.043416},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822275,lng:80.043411},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822126,lng:80.043505},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.82177,lng:80.043451},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.821446,lng:80.043448},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.821114,lng:80.043478},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.820921,lng:80.043399},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822971,lng:80.043194},
                iconImage:'../static/images/light2.png'
            },
            {
                coords:{lat:12.822094,lng:80.042521},
                iconImage:'../static/images/light2.png'
            }
            ];

            

            //loop through markers

            for(var i=0;i<markers.length;i++)
            {
                //add markers
                addMarker(markers[i]);
            }


            function addMarker(props){
            //new markers
            var marker=new google.maps.Marker({
                position:props.coords,
                map:map,
                //icon:props.iconImage
            });

            //check for custom icon
            if(props.iconImage)
            {
                //set icon image
                marker.setIcon(props.iconImage);
            }

            //check for custom content
            if(props.content)
            {
                //set info window
            var infowindow=new google.maps.InfoWindow({
                content:props.content
            });

            marker.addListener('click',function(){
                infowindow.open(map,marker);
            });
            }

            }

         }
         </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR4uDZ6aLFwPGnD5-JhHvjAkAzCHx258c&callback=initMap">
            </script>
                  
                 </div>
                 </section> 
                 
        
        
                 <!--Footer Section Ends-->
        
                       
                        <footer class="my-footer page-footer font-small grey">
        
                            <!-- Copyright -->
                            <div class="footer-copyright text-center py-3">© Copyright:
                              <a href="dhairya.lodha@gmail.com"> dhairya.lodha@gmail.com </a> - All rights reserved.
                            </div>
                            <!-- Copyright -->
                          
                          </footer>
        
        
                 <!--Footer Section Ends-->
    
</body>
</html>